This notebook was used to quickly show significance tests and averages of the cognitive models.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('regret_mean_sem.csv')
df.round(3)

,exp_name,agent,cue_idx,mean,sem,llm_only,context_idx,block_feedback_type,block_forced_type
0,partial,llm,0.0,0.088,0.011,False,NaN,NaN,NaN
1,partial,llm,23.0,0.045,0.009,False,NaN,NaN,NaN
2,full,llm,NaN,0.247,0.021,False,0.0,NaN,NaN
3,full,llm,NaN,0.022,0.008,False,19.0,NaN,NaN
4,full,llm,NaN,0.069,0.014,block_feedback_type,NaN,0.0,NaN
5,full,llm,NaN,0.022,0.008,block_feedback_type,NaN,1.0,NaN
6,agency,llm,NaN,0.242,0.025,False,0.0,NaN,NaN
7,agency,llm,NaN,0.021,0.009,False,39.0,NaN,NaN
8,agency,llm,NaN,0.067,0.016,block_forced_type,NaN,NaN,0.0
9,agency,llm,NaN,0.021,0.009,block_forced_type,NaN,NaN,1.0
10,agency,human,NaN,0.071,0.016,False,39.0,NaN,NaN
11,agency,llm,NaN,0.021,0.009,False,39.0,NaN,NaN
12,full,human,NaN,0.028,0.009,False,19.0,NaN,NaN
13,full,llm,NaN,0.022,0.008,False,19.0,NaN,NaN
14,partial,human,NaN,0.034,0.008,False,23.0,NaN,NaN
15,partial,llm,NaN,0.045,0.009,False,23.0,NaN,NaN

In [3]:
df = pd.read_csv('regret_ttest.csv')
df

,exp_name,agent,llm_only,N-1,statistic,pvalue,comparison
0,partial,llm,NaN,199.0,3.1000,0.0021,NaN
1,full,llm,NaN,191.0,10.5000,0.0000,NaN
2,full,llm,block_feedback_type,191.0,2.9000,0.0036,NaN
3,agency,llm,NaN,143.0,8.4000,0.0000,NaN
4,agency,llm,block_forced_type,143.0,2.6000,0.0111,NaN
5,agency,NaN,NaN,143.0,-2.6861,0.0000,llm vs human at end
6,full,NaN,NaN,191.0,-0.5096,0.6000,llm vs human at end
7,partial,NaN,NaN,199.0,0.9773,0.3000,llm vs human at end

In [17]:
df = pd.read_csv('model_comparison_means.csv')
df = df[df['agent'] == 'meta-rl']
df = df[(df['exp_name'] == 'agency')]
#df = df[df['cognitive_model'] == 'Model_4alpha']
df.round(2)

    exp_name    agent cognitive_model           measure   mean   sem
105   agency  meta-rl    Model_3alpha                pp   0.85  0.04
106   agency  meta-rl    Model_3alpha               nll  21.06  1.73
107   agency  meta-rl    Model_3alpha               bic  66.82  3.46
108   agency  meta-rl    Model_3alpha              beta  13.01  0.90
109   agency  meta-rl    Model_3alpha      alpha_forced   0.15  0.01
110   agency  meta-rl    Model_3alpha    alpha_pos_free   0.28  0.04
111   agency  meta-rl    Model_3alpha    alpha_neg_free   0.07  0.01
112   agency  meta-rl    Model_4alpha                pp   0.15  0.04
113   agency  meta-rl    Model_4alpha               nll  20.18  1.64
114   agency  meta-rl    Model_4alpha               bic  71.22  3.27
115   agency  meta-rl    Model_4alpha              beta  14.27  0.89
116   agency  meta-rl    Model_4alpha    alpha_pos_free   0.28  0.04
117   agency  meta-rl    Model_4alpha    alpha_neg_free   0.07  0.01
118   agency  meta-rl    Model_4alpha  alpha_pos_forced   0.15  0.01
119   agency  meta-rl    Model_4alpha  alpha_neg_forced   0.17  0.02

In [13]:
df = pd.read_csv('model_comparison_t-test_pp.csv')
df = df[df['agent'] == 'llm']
df = df[(df['exp_name'] == 'agency')]
df.dropna(axis=1, how='all', inplace=True)
df

,exp_name,agent,cognitive_models,statistic,pvalue,N-1,value_counts,max,percentage
6,agency,llm,paried t-test Model_3alpha vs Model_4alpha,4.6,0.0001,23.0,20.0,24.0,0.833333

In [14]:
df = pd.read_csv('model_comparison_t-test_alphas.csv')
df = df[df['agent'] == 'llm']
df = df[(df['exp_name'] == 'agency')]
df.dropna(axis=1, how='all', inplace=True)
df

,exp_name,agent,cognitive_models,comparison,N-1,statistic,pvalue
12,agency,llm,Model_3alpha,paried t-test: alpha_pos_free vs alpha_neg_free,23.0,4.702,0.0001
13,agency,llm,Model_4alpha,paried t-test: alpha_pos_free vs alpha_pos_forced,23.0,6.774,0.0000
14,agency,llm,Model_4alpha,paried t-test: alpha_neg_free vs alpha_neg_forced,23.0,-2.751,0.0114